/* ----------------------nab-bar-part-start------------------ */
@media screen and (max-width: 576px) {
    .nav-container {
        flex-direction: column;
    }

    .nav-menu a {
        display: block;
        text-align: center;
        margin: 10px 0;
    }
}

@media screen and (min-width: 576px) and (max-width:768px) {
    .nav-container {
        flex-direction: column;
    }

    .nav-menu a {
        display: block;
        text-align: center;
        margin: 10px 0;
    }
}

/* ----------------------nab-bar-part-start------------------ */
/* ----------------------banner-part-start------------------ */

@media screen and (max-width: 576px) {
    .banner-container {
        flex-direction: column-reverse;
        padding: 0px 20px;
        background-position: bottom;
        background-size: 110%;
        height: auto;
    }

    .banner-info h1 {
        margin: 0;
    }

    .banner-info {
        width: 100%;
        padding: 30px 0;
        text-align: center;
    }

    .banner-info h1 {
        font-size: 60px;
    }

    .banner-img {
        width: 100%;
        text-align: center;
    }

    .banner-img img {
        width: 100%;
        height: auto;
    }

    .banner-btn {
        margin-top: 30px;

    }

    .banner-info .btn-sign,
    .banner-info .btn-rogue {
        padding: 15px 20px;
        font-size: 18px;
    }
}


@media screen and (min-width: 577px) and (max-width: 768px) {
    .banner-container {
        flex-direction: column-reverse;
        padding: 0 20px;
        background-position: bottom;
        background-size: 100%;
        height: auto;
    }

    .banner-info h1 {
        font-size: 75px;
    }

    .banner-img {
        width: 100%;
        text-align: center;
    }

    .banner-img img {
        width: 80%;
        height: auto;
    }

    .banner-btn {
        margin-top: 40px;
    }

    .banner-info .btn-sign,
    .banner-info .btn-rogue {
        padding: 20px 25px;
        font-size: 20px;
    }
}

/* ----------------------banner-part-end------------------ */
/* ----------------------gamer-part-start------------------ */
@media screen and (max-width: 576px) {
    .gamer-container{
        flex-direction: column;
    }
    .gamer-info{
        text-align: center;
    }
    .gamer-img{
        width: 100%;
    }
    .gamer-info{
        width: 100%;
    }
    .gamer-info h2 {
        font-size: 35px;
    }
    .gamer-info p {
        font-size: 15px;
    }
    .gamer-info h3{
        font-size: 25px;
    }
}
@media screen and (min-width: 577px) and (max-width:768px) {
    .gamer-container{
        flex-direction: column;
        padding: 20px 0px;
    }
    .gamer-info{
        text-align: center;
    }
    .gamer-img{
        width: 85%;
    }
    .gamer-info{
        width: 85%;
    }
    .gamer-info h2 {
        font-size: 40px;
        margin-bottom: 20px;
    }
    .gamer-info p {
        font-size: 16px;
    }
    .gamer-info h3{
        font-size: 30px;
    }
}
/* ----------------------gamer-part-end------------------ */