/* ----------------------nab-bar-part-start------------------ */
@media screen and (max-width: 576px) {
    .nav-container {
        flex-direction: column;
    }

    .nav-menu a {
        display: block;
        text-align: center;
        margin: 10px 0;
    }
}

@media screen and (min-width: 576px) and (max-width:768px) {
    .nav-container {
        flex-direction: column;
    }

    .nav-menu a {
        display: block;
        text-align: center;
        margin: 10px 0;
    }
}

/* ----------------------nab-bar-part-start------------------ */
/* ----------------------banner-part-start------------------ */

@media screen and (max-width: 576px) {
    .banner-container {
        flex-direction: column-reverse;
        padding: 0px 20px;
        background-position: bottom;
        background-size: 110%;
        height: auto;
    }

    .banner-info h1 {
        margin: 0;
    }
    .banner-info h2 {
        font-size: 30px; 
    }

    .banner-info {
        width: 100%;
        padding: 30px 0;
        text-align: center;
    }

    .banner-info h1 {
        font-size: 60px;
    }

    .banner-img {
        width: 100%;
        text-align: center;
    }

    .banner-img img {
        width: 100%;
        height: auto;
    }

    .banner-btn {
        margin-top: 30px;

    }

    .banner-info .btn-sign,
    .banner-info .btn-rogue {
        padding: 15px 20px;
        font-size: 18px;
    }
}


@media screen and (min-width: 577px) and (max-width: 768px) {
    .banner-container {
        flex-direction: column-reverse;
        padding: 0 20px;
        background-position: bottom;
        background-size: 100%;
        height: auto;
    }

    .banner-info h1 {
        font-size: 75px;
    }

    .banner-img {
        width: 100%;
        text-align: center;
    }

    .banner-img img {
        width: 80%;
        height: auto;
    }

    .banner-btn {
        margin-top: 40px;
    }

    .banner-info .btn-sign,
    .banner-info .btn-rogue {
        padding: 20px 25px;
        font-size: 20px;
    }
}

/* ----------------------banner-part-end------------------ */
/* ----------------------gamer-part-start------------------ */
@media screen and (max-width: 576px) {
    .gamer-container{
        flex-direction: column;
    }
    .gamer-info{
        text-align: center;
    }
    .gamer-img{
        width: 100%;
    }
    .gamer-info{
        width: 100%;
    }
    .gamer-info h2 {
        font-size: 35px;
    }
    .gamer-info p {
        font-size: 15px;
    }
    .gamer-info h3{
        font-size: 25px;
    }
}
@media screen and (min-width: 577px) and (max-width:768px) {
    .gamer-container{
        flex-direction: column;
        padding: 20px 0px;
    }
    .gamer-info{
        text-align: center;
    }
    .gamer-img{
        width: 85%;
    }
    .gamer-info{
        width: 85%;
    }
    .gamer-info h2 {
        font-size: 40px;
        margin-bottom: 20px;
    }
    .gamer-info p {
        font-size: 16px;
    }
    .gamer-info h3{
        font-size: 30px;
    }
}
/* ----------------------gamer-part-end------------------ */
/* ----------------------video-part-start------------------ */
@media screen and (max-width: 576px) {
    .video-container{
        text-align: center;
    }
    .video-img{
        flex-direction: column;
    }
    .video-info h2 {
        font-size: 25px;
    }
    .video-info h2 > span {
        font-size: 25px;
    }
    .video-img .img{
        width: 80%;
    }
    .video-img img{
        width: 100%;
    }
}
@media screen and (min-width: 576px) and (max-width: 768px) {
    .video-container{
        text-align: center;
    }
    .video-img{
        flex-direction: column;
    }
   
}
/* ----------------------video-part-end------------------ */
/* ----------------------online-game-part-start------------------ */
@media screen and (max-width: 576px) {
    .section-container {
        flex-direction: column;
        align-items: center;
        gap: 20px;
        padding: 20px;
        margin: 2px 0px;
    }

    .left-side {
        width: 100%;
    }

    .left-side img.full-image {
        width: 90%;
        margin-bottom: 20px;
    }

    .left-side img.small-image {
        position: absolute;
        width: 40%;
        max-width: 318px;
        height: auto;
        bottom: -80px;
        right: -5px;
    }

    .right-side {
        width: 100%;
        text-align: center;
    }

    .right-side h2 {
        font-size: 31px;
    }

    .right-side h2 > span {
        font-size: 31px;
    }

    .right-side p {
        font-size: 16px;
        padding: 0px;
    }
}
@media screen and (min-width: 576px) and (max-width: 768px){
    .section-container {
        flex-direction: column;
        align-items: center;
        gap: 20px;
        padding: 20px;
        margin-top: 0px;
    }

    .left-side {
        width: 100%;
    }

    .left-side img.full-image {
        width: 90%;
        margin-bottom: 20px;
    }

    .left-side img.small-image {
        position: absolute;
        width: 40%;
        max-width: 318px;
        height: auto;
        bottom: -80px;
        right: -5px;
    }

    .right-side {
        width: 100%;
        text-align: center;
    }

    .right-side h2 {
        font-size: 31px;
    }

    .right-side h2 > span {
        font-size: 31px;
    }

    .right-side p {
        font-size: 16px;
        padding: 20px;
    }
}
/* ----------------------online-game-part-end------------------ */
/* ----------------------game-btn-part-start------------------ */
@media screen and (max-width: 576px){
    .game-btn-container{
        padding: 30px 0px;
        margin-top: 0px;
    }
    .game-btn{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

.round-button .button-content .button-text {
    margin-left:10px;
    font-size: 10px;
    font-weight: 400;
}
.round-button {
    border-radius: 50px;
    padding: 5px 25px;
    font-size: 10px;
    margin: 5px;
}
}
@media screen and (min-width: 577px) and (max-width: 768px) {
    .game-btn-container{
        padding: 30px 0px;
        margin-top: -100px;
    }
}
/* ----------------------game-btn-part-end------------------ */
/* ----------------------footer-part-start------------------ */

@media (max-width: 576px) {
    footer {
        padding: 50px 0;
    }

    .footer-container {
        width: 100%;
        padding: 0 20px; /* Add some spacing on the sides */
    }

    .footer-logo .logo {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

    .footer-logo .logo h2 {
        font-size: 30px;
        margin-top: 10px;
    }

    .footer-logo .logo img {
        width: 80px;
        height: 36px;
        margin-right: 0;
    }

    .footer-menu {
        grid-template-columns: repeat(3, 1fr); /* Display 3 menu items per row */
        gap: 20px; /* Add some spacing between menu items */
        margin-top: 30px;
    }

    .footer-menu p {
        font-size: 16px;
        font-weight: 400;
        margin: 6px 0;
    }

    .footer-icon {
        font-size: 30px;
        margin-top: 25px;
    }
    .footer-icon {
        grid-template-columns: repeat(3, 1fr); 
        gap: 20px; 
    }

    .footer-info {
        grid-template-columns: repeat(2, 1fr); 
        gap: 20px;
        margin: 30px 0px;
}
    .footer-info p {
        font-size: 16px;
        font-weight: 400;
        margin: 6px 0;
}
}
@media (min-width: 577px) and (max-width: 768px) {
    footer {
        padding: 50px 0;
    }

    .footer-container {
        width: 100%;
        padding: 0 20px; 
    }

    .footer-logo .logo {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

    .footer-logo .logo h2 {
        font-size: 30px;
        margin-top: 10px;
    }

    .footer-logo .logo img {
        width: 80px;
        height: 36px;
        margin-right: 0;
    }

    .footer-menu {
        grid-template-columns: repeat(3, 1fr); /
        gap: 20px; 
        margin-top: 30px;
    }

    .footer-menu p {
        font-size: 16px;
        font-weight: 400;
        margin: 6px 0;
    }

    .footer-icon {
        font-size: 30px;
        margin-top: 25px;
    }
    .footer-icon {
        grid-template-columns: repeat(3, 1fr); 
        gap: 20px; 
    }

    .footer-info {
        grid-template-columns: repeat(2, 1fr); 
        gap: 20px;
        margin: 30px 0px;
}
    .footer-info p {
        font-size: 16px;
        font-weight: 400;
        margin: 6px 0;
}
}

/* ----------------------footer-part-end------------------ */
